.hotel {
  display: flex;
  align-items: center;
  grid-gap: 24px;
  padding: 16px 16px 16px 0;
  border-bottom: 1px solid rgba(135, 135, 135, 0.2);
}

.hotel:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.hotel__logo {
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  background: center / 35px no-repeat url("../img/icons/logo.svg")
    rgba(65, 82, 46, 0.05);
}

.hotel__wrapper {
  width: 100%;
}

.hotel__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 10px;
}

.hotel__title {
  font-size: 17px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #424242;
}

.hotel__favorite-btn {
  width: 21px;
  height: 18px;
  border: none;
  color: grey;
}

.hotel__favorite-btn:hover,
.hotel__favorite-btn--active {
  color: #e55858;
}

.hotel__info {
  margin: 4px 0;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #878787;
}

.hotel__info-separator {
  margin: 0 14px;
}

.hotel__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-gap: 10px;
}

.hotel__rating {
  display: flex;
  align-self: flex-end;
  grid-gap: 3px;
}

.hotel__price {
  font-size: 11px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #878787;
}

.hotel__price-value {
  margin-left: 21px;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #424242;
}

@media (max-width: 575px) {
  .hotel {
    grid-gap: 15px;
    padding: 10px 10px 10px 0;
  }

  .hotel__logo {
    display: none;
  }

  .hotel__title {
    font-size: 14px;
  }

  .hotel__favorite-btn {
    width: 21px;
    height: 18px;
  }

  .hotel__info {
    font-size: 12px;
  }

  .hotel__info-separator {
    margin: 0 8px;
  }

  .hotel__price-value {
    margin-left: 8px;
    font-size: 14px;
  }
}
