@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-300.eot");
  src: local(""),
    url("./fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-300.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-300.woff2")
      format("woff2"),
    url("./fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-300.woff")
      format("woff"),
    url("./fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-300.ttf")
      format("truetype"),
    url("./fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-300.svg#Roboto")
      format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot");
  src: local(""),
    url("./fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2")
      format("woff2"),
    url("./fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff")
      format("woff"),
    url("./fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf")
      format("truetype"),
    url("./fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#Roboto")
      format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-500.eot");
  src: local(""),
    url("./fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-500.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-500.woff2")
      format("woff2"),
    url("./fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-500.woff")
      format("woff"),
    url("./fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-500.ttf")
      format("truetype"),
    url("./fonts/roboto-v29-latin-ext_latin_cyrillic-ext_cyrillic-500.svg#Roboto")
      format("svg");
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

strong {
  font-weight: 500;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #e5e5e5;
}

.app {
  max-width: 1440px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #424242;
}

.app__logout-btn {
  padding-right: 30px;
  border: none;
  background-color: transparent;
  background-image: url("./img/icons/logout.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: right center;
  font-family: Roboto;
  line-height: 20px;
  letter-spacing: -0.408px;
  color: #41522e;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  grid-column-gap: 20px;
}

.sidebar {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  width: 360px;
}

.main {
  grid-column: 2;
  grid-row: 1;
  max-width: 664px;
  padding: 48px 32px;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
}

.main__list {
  max-height: 533px;
  padding-right: 14px;
  overflow: scroll;
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 37px;
  color: #424242;
}

.main__title-separator {
  margin: 0 20px;
  color: #a7a7a7;
}

.main__date {
  font-size: 24px;
  line-height: 28px;
  color: #41522e;
}

.main__list::-webkit-scrollbar {
  width: 2px;
  height: 0;
  background-color: #e7e7e7;
}

.main__list::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: #41522e;
}

.main__info {
  margin-bottom: 23px;
  font-size: 17px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #424242;
}
